
<div id="white">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-4 col-lg-offset-4 centered">
        <h3>Our Team</h3>
        <hr>
      </div>
    </div><! --/row -->

    <div class="row">
      <div class="col-lg-4 centered">
        <div class="members">
          <img width="150" class="img-thumbnail" src="assets/img/willi2.jpg" alt="">
          <div class="team-info">
            <div class="subhead">Developer</div>
            <h2 class="team-name">Willi</h2>
            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
          </div>
        </div>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4 centered">
        <div class="members">
          <img width="150" class="img-thumbnail" src="assets/img/leiti2.jpg" alt="">
          <div class="team-info">
            <div class="subhead">Developer</div>
            <h2 class="team-name">Willi</h2>
            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
          </div>
        </div>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4 centered">
        <div class="members">
          <img width="150" class="img-thumbnail" src="assets/img/joel2.jpg" alt="">
          <div class="team-info">
            <div class="subhead">Developer</div>
            <h2 class="team-name">Willi</h2>
            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
          </div>
        </div>
      </div><!-- /col-lg-4 -->

    </div><! --/row -->
  </div><! --/container -->
</div><! --/white -->

