

<div name="contact">
  <div class="section section-full" style="background-image: url(https://images5.alphacoders.com/351/thumb-1920-351885.jpg);">
    <div class="overlay" style="opacity: 0.3; background-color: rgb(193, 193, 193);"></div>
    <div class="table-full">
      <div class="container">
        <div class="row">
          <h1 class="display-2 cl-white txt-ctr">CONTACT ME</h1>
          <div class="col-sm-offset-1">
            <div class="row" style="margin-top: 13em;">
              <div class="col-sm-5 cl-white" style="background-color: rgba(0, 0, 0, 0.32); padding: 50px 40px;">
                <address>
                  <strong>Antimat, Inc.</strong><br>
                  Market Street<br>
                  Jamjodhpur, 360530<br>
                  Telephone : +91 7698094485
                </address>
                <address>
                  <strong>Yash Gohel</strong><br>
                  <a href="mailto:#">yashgohel16@gmail.com</a>
                </address>
              </div>

              <div class="col-sm-5 col-sm-offset-5 cl-white" style=" padding: 15px; margin-left: 50px;">
                <form action="mailto:#" method="post">
                  <div class="name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="name" class="name" placeholder="Your Name" required="">
                  </div>
                  <div class="email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" name="email" class="email" placeholder="Your Email" required="">
                  </div>
                  <div class="phone">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <input type="text" name="phone" class="phone" placeholder="Your Phone" required="">
                  </div>
                  <input type="submit" value="Send" class="btn btn-default">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



